.wrapper{
  width: 100%;
  background-color: $primary;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.main,
.form,
.correction{
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 800px){
    .main,
    .form,
    .correction{
      max-width: 1200px;
    }
  }
  
}