.wrapper{
  width: 100%;
  background-color: $primary;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.main,
.form{
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 800px){
    .main,
    .form{
      max-width: 1200px;
    }
  }
  
}