.service__graphic-button,
.service__charts-button, 
.service__correction-button,
.form-button{
  padding: 20px;
  border: 0;
  background-color: $secondary;
  font-family: $font-base;
  font-size: 18px;
  font-weight: bold;
  color: $primary;
}

.service__graphic-button:hover,
.service__charts-button:hover, 
.service__correction-button:hover,
.form-button:hover{
  background-color: $primary;
  color: $hover;
}