.service__graphic-button,
.service__charts-button, 
.service__correction-button{
  padding: 20px;
  border: 0;
  background-color: $secondary;
}

.service__graphic-button:hover,
.service__charts-button:hover, 
.service__correction-button:hover{
  background-color: $primary;
}