.header{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color:$primary;
  color: white;
  }


.header__home{
  text-decoration: none;
  color: white;
  line-height: 80px;
  padding-left: 20px;
  font-family: $font-special;
  font-size: 30px;
  font-weight: bold;
}

label.header__home{
  padding: 0;
}


@media screen and (min-width: 800px){
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}