.service{
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 800px){
  .service{
    display: flex;
    flex: 1 1 100%;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .service__correction,
  .service__charts,
  .service__graphic,
  .service__other{
    flex: 400px;
  }

}