<footer class="footer">
  <div class="footer__info">© 2020 Technická sazba</div>
  <div class="footer__icons">

    <div class="icons-border">
      <a href="https://www.facebook.com/">
    <i class="fab fa-facebook-f"></i></a>
    </div>
    <div class="icons-border">
      <a href="mailto:info@technickasazba.cz">
    <i class="fas fa-envelope"></i><!-- uses solid style -->
      </a>
    </div>
    <div class="icons-border">
      <a href="tel:+420605307195">
    <i class="fas fa-mobile-alt"></i> <!-- uses regular style -->
      </a>
    </div>
  </div>
</footer>
</body>
</html>